# Server
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
JWT_SECRET=

# Core Backend
CORE_BACKEND_URL=https://api-core.picsartacademy.am
INTERNAL_API_KEY=36pMAcHMEmJHcezb12KeEU896FSUbWXWp7YZP7F8RBw=