# Server
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
JWT_SECRET=
COURESES_CACHE_TIME=300
CATEGORIES_CACHE_TIME=1800

# Core Backend
CORE_BACKEND_URL=https://api-core.picsartacademy.am/api/internal
INTERNAL_API_KEY=36pMAcHMEmJHcezb12KeEU896FSUbWXWp7YZP7F8RBw=